/* COLOR SCHEME
black: #182628
main background: 65CCB8
background darker: 57BA98
background greener: 3B945E
white: F2F2F2
*/

/* NAVBAR */
.navbar.navbar-light.bg-light {
    background-color: #182628!important;
}

.navbar.navbar-light.bg-light .navbar-brand {
    color: #f2f2f2;
}

.navbar.navbar-light.bg-light .navbar-nav .nav-link {
    color: #f2f2f2;
}

.navbar.navbar-light.bg-light .navbar-nav .nav-link:hover {
    color: #c2c2c2;
}

/* HERO */
.hero-row {
    background-color: #57BA98;
    height: 600px;
}

.hero-header {
    max-width: 500px;
    margin: 100px 0px 0px 40px;
}

.hero-paragraph {
    margin-left: 40px;
    margin-top: 20px;
    color: #f2f2f2;
    font-size: 20px;
}

.hero-button {
    margin-left: 40px;
    background-color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    color: #182628;
}

.hero-button:focus {
    outline: none;
}

.hero-left h1 {
    color: #f2f2f2;
}

@media screen and (max-width: 767px){
    .hero-right {
        visibility: hidden;
    }
}

.hero-right {
    background: #182628;
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    height: 550px;
}

.hero-right h3 {
    color: #f2f2f2;
    padding-top: 40px;
    font-size: 35px;
    margin-bottom: 30px;
}

.hero-right input {
    font-size: 20px;
    outline: none;
    padding-left: 5px;
}

.hero-right button {
    background-color: #f2f2f2;
    margin-top: 1px;
    font-size: 21px;
    border: none;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.hero-right button:focus {
    outline: none;
}

.hero-right p {
    color: #f2f2f2;
}

.hero-right hr {
    color: #f2f2f2;
    background-color: #f2f2f2;
    width: 90%;
    border: 0;
    height: 1px;
    background: #f2f2f2;
    background-image: linear-gradient(to right, #182628, #f2f2f2, #182628);
}

.current-track-title {
    margin-top: 15px;
    font-size: 25px;
}

.current-tracks {
    height: 250px;
}

.current-tracks p {
    font-size: 20px;
}

/* HOMEPAGEMAIN */
.favorite-playlists-header {
    margin-left: 40px;
    margin-top: 15px;
}

.home-page-master-container {
    background-color: #f1f1f1;
}

/* HOMEPAGEMAINAUTHENTICATED */
.home-page-authenticated-master-container {
    background-color: #f1f1f1;
}

/* HEROAUTHENTICATED */
.mode-toggle {
    padding-top: 6.5vh;
    text-align: center;
}

.mode-toggle button {
    font-size: max(1.7vw, 15px);
    color: #1db954;
    padding-left: .8vw;
    padding-right: .8vw;
    background-color: #f1f1f1;
    border: 2px solid #1db954;
    outline: none;
}

.mode-toggle button:focus {
    outline: none;
}

.mode-toggle button.active-mode {
    color: #f1f1f1;
    background-color:  #1db954;
}

.mode-toggle button:hover {
    background-color: #1aa843;
    color: #f1f1f1;
    border-color: #17a540;
}

/* CHOOSEMODE */
.choose-mode-master-container {
    text-align: center;
}

.search-area {
    margin-top: 5.5vh;
    text-align: center;
}

.track-search {
    font-size: 2vw;
}

.search-area-button {
    font-size: 2vw;
    background-color: #1db954;
    border: 2px solid #1db954;
    color: #f1f1f1;
}

.search-area-button:hover {
    background-color: #1aa843;
    color: #f1f1f1;
    border-color: #17a540;
}

.search-results {
    position: absolute;
    background-color: #fff;
    left: 34.66%;
    width: 30.7vw;
}

.search-results img {
    display: inline-block;
    margin-left: .5vw;
    margin-right: .5vw;
    width: 3vw;
    vertical-align: top
}

.track-result {
    padding-top: 1vw;
    border-bottom: 1px solid #d1d1d1;
}

.track-result:hover {
    cursor: pointer;
    background-color: #c1c1c1;
}

.track-result span {
    display: inline-block;
}

.track-result .track-desc {
    display: inline-block;
}

.track-result h4 {
    font-size: 1.2vw;
    margin-bottom: .2vh;
}

.track-result p {
    font-size: .9vw;
}

.track-result .add-track {
    float: right;
    vertical-align: middle;
    margin-top: 1vh;
    margin-right: 1vw;
    display: none;
    color: #888;
}

.track-result:hover .add-track {
    display: inline-block;
}

.added-results {
    margin-top: 4vh;
    min-height: 30vh;
}

.added-results h5 {
    margin-bottom: 3vh;
    font-size: 2.0vw;
}

.added-track {
    width: 30vw;
    margin: 0 auto;
    text-align: left;
}

.added-track img {
    display: inline-block;
    margin-left: .5vw;
    margin-right: .5vw;
    width: 3vw;
    vertical-align: top
}

.added-track .added-track-desc {
    display: inline-block;
}

.added-track h4 {
    font-size: 1.2vw;
    margin-bottom: .2vh;
}

.added-track p {
    font-size: .9vw;
}

.added-track audio {
    background-color: #f1f1f1;
}

.added-track .play-button {
    font-size: .9vw;
    vertical-align: top;
    border: none;
    background: none;
    text-decoration: underline;
    color: #888;
    outline: none;
    float: right;
}

.added-track .play-button:hover {
    cursor: pointer;
}

.added-track .play-button:focus {
    outline: none;
}

.set-filters h3 {
    font-size: 2vw;
    margin-top: 5vh;
}

hr.choose-divider {
    width: 30vw;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.slider-master {
    margin-bottom: 4vh;
}

.slider-master label {
    display: block;
    font-size: 1.5vw;
}

.slider-master .slider {
    width: 30vw;
}

.slider-master .bound-values {
    width: 30vw;
    margin: 0 auto;
    font-size: 1.25vw;
}

.slider-master .left-val {
    float: left;
}

.slider-master .right-val {
    float: right;
}