/* COLOR SCHEME
black: #182628
main background: 65CCB8
background darker: 57BA98
background greener: 3B945E
white: F2F2F2
*/

/* NAVBAR */
.navbar.navbar-light.bg-light {
    background-color: #182628!important;
}

.navbar.navbar-light.bg-light .navbar-brand {
    color: #f2f2f2;
}

.navbar.navbar-light.bg-light .navbar-nav .nav-link {
    color: #f2f2f2;
}

.navbar.navbar-light.bg-light .navbar-nav .nav-link:hover {
    color: #c2c2c2;
}

/* HERO */
.hero-row {
    background-color: #65CCB8;
    height: 600px;
}

.hero-header {
    max-width: 500px;
    margin: 100px 0px 0px 40px;
}

.hero-paragraph {
    margin-left: 40px;
    margin-top: 20px;
}

.hero-button {
    margin-left: 40px;
    background-color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    color: #182628;
}

.hero-left {
    
}

.hero-left h1 {
    color: #f2f2f2;
}